# 🐍 Archivos generados por Python
__pycache__/
*.py[cod]

# 📦 Entornos virtuales (evita subir dependencias locales)
venv/
#$.env
ENV/
.venv/

# 🧪 Archivos de pruebas y cobertura
*.cover
coverage.xml
htmlcov/

#ignora todo dentro de data
infrastructure/data/*
#sube la carpeta data pero ignora su contenido
!infrastructure/data/.gitkeep

.idea/
infrastructure/sync/sync.log